/* styles in src/style directory are applied to the whole page */
body {
  background: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.subtitle {
  padding: 10px;
  background: #fff;
  color: #0f0;
}

.some-selector, .uh-flag-this {
  // where's my leading zero?
  font-size: .75em; // also this is bad...
}

#wow-bad { -webkit-border-before: 0; }
.parent {
  margin: 5px;

  &.nested {
    padding: 25px;
  }
}

.color-test {
  color: #dddddd;
}
